.admin nav {
 width: 100%;
 margin: 2rem 0;
 color: #fff;
}

.admin nav ul {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 list-style: none;
}

.admin nav ul li {
 margin: 0 1rem;
 border: 0.1rem solid rgba(150, 150, 150, 0.407);
 border-radius: 1rem;
 padding: 0.1rem 2rem;
 color: #fff;
}

.admin table {
 width: 100%;
 text-align: center;
 background: rgba(234, 234, 234, 0.828);
}

.admin thead {
 background: #1488cc;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #2b32b2, #1488cc);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.admin thead tr th {
 color: #fff;
 padding: 1rem 2rem;
}

.admin tbody tr td {
 padding: 1rem 0rem;
}

.admin tbody tr td button {
 color: #fff;
 margin: 0 0.3rem;
}

.admin tbody tr td button.approve {
 background: #005c97;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #363795, #005c97);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #363795, #005c97);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.admin tbody tr td button.decline {
 background: #f46b45;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #f39d24, #f46b45);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #fa4f0b, #f03a22);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loading {
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 font-size: 2rem;
}

.admin .login {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #fff;
 height: 20rem;
}

.admin .login div {
 margin: 1rem 0;
}

.admin .login .signIn {
 color: black;
}

button.signInOut,
button.signInOut:hover,
.primary,
button.primary,
.primary:hover,
button.primary:hover {
 background-color: royalblue;
 color: #fff;
 font-size: 1.3rem;
}
.danger,
button.danger,
.danger:hover,
button.danger:hover {
 background-color: #d9534f;
 color: #fff;
 font-size: 1.3rem;
}
.success,
button.success,
.success:hover,
button.success:hover {
 background-color: #5cb85c;
 color: #fff;
 font-size: 1.3rem;
 margin-top: 2rem;
}



.client {
 color: #fff;
}

.textSuccess {
color: #5cb85c;
font-size: 1.5rem;
}